* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
    overflow-x: hidden;
}

/* N  A  V  B  A  R  */

.navbar .container-fluid {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 10px;
    width: 1400px;
    border-radius: 20px;
    margin-top: 20px;
}

.navbar .container-fluid a {
    color: whitesmoke;
    font-size: 25px;
    margin-right: -400px;
}

.navbar .container-fluid form {
    margin-right: -400px;
    margin-left: 200px;
}

/* I  N  T  R  O  D  U  C  T  I  O  N  */

.introduction {
    width: 100%;
    height: 100%;
}

.introduction .slide{
    position: relative;
    width: 100%;
}
.introduction .slide video{
    position: absolute;
    z-index: -100;
    margin-left: -310px;
    margin-top: -200px;
}
.introduction img {
    margin-top: -140px;
    margin-left: 50px;

}
.introduction h3 {
    margin-top: -450px;
    font-size: 30px;
    word-spacing: 10px;
    padding: 5px;
    font-weight: 100;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* A  B  O  U  T  -  M  E */

.about-me .content {
    width: 1250px;
    background-color: black;
    background-image: url("../assets/Images/about-me-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    z-index: 9;
    margin-top: -150px;
    border-radius: 20px;
    padding: 80px 50px;
    margin-bottom: 90px;
}

.about-me .content h1 {
    font-size: 150px;
    padding-bottom: 10px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.about-me .content p {
    font-size: 25px;
    margin-bottom: 100px;
    font-family: "Kodchasan", sans-serif;
     font-weight: 700;
     font-style: normal;
}

.about-me .content a {
    background-color: whitesmoke;
    color: #222222;
    padding: 10px 250px;
    text-decoration: none;
    border-radius: 8px;
    transition: 2s;
}

                            /* U  I  -  U  X  -  D  E  S  I  G  N */

.ui-ux-work .content {
    width: 600px;
    background-color: #222222;
    height: 600px;
    margin-left: -90px;
    padding: 70px 50px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.ui-ux-work .content h1 {
    font-size: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.ui-ux-work .content p {
    font-size: 30px;
    text-align: justify;
    margin-bottom: 70px;
    text-align: center;
    font-family: "Kodchasan", sans-serif;
   font-weight: 700;
   font-style: normal;
}

.ui-ux-work .content a {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    padding: 5px 150px;
    border-radius: 8px;
}

.ui-ux-work img {
    height: 600px;
    width: 900px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 40px;
}

                         /* G  R  A  P  H  I  C  S  -  D  E  S  I  G  N  */

.graphics-work .work-1 {
    margin-left: -100px;
    width: 500px;
    height: 720px;
    object-fit: cover;
}

.graphics-work .work-2 {
    margin-left: -40px;
}

.graphics-work .content {
    width: 481px;
    background-color: #222222;
    height: 722px;
    margin-left: 30px;
    padding: 40px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.graphics-work .content h1 {
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.graphics-work .content p {
    font-size: 30px;
    text-align: justify;
    margin-bottom: 90px;
    text-align: center;
    font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.graphics-work .content a {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    padding: 5px 110px;
    border-radius: 8px;
}

                        /* V  I  D  E  O  -  W  O  R  K */

.video-work .content {
    width: 1500px;
    height: 720px;
    background-image: url("../assets/Images/vid-work.png");
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode: color-burn;
    background-position: center;
    background-size: cover;
    padding: 285px 200px;
    margin-bottom: 40px;
}

.video-work .content h1 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

                                     /* F  O  T  T  E  R  */
                                     
footer {
    background-image: url("../assets/Images/footer-bg.png");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode: color-burn;
}

footer .content h1 {
    color: whitesmoke;
    font-size: 100px;
    margin-top: 85px;
    margin-bottom: 100px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

footer .icon {
    display: flex;
    align-items: center;
}

footer .icon a {
    transition: 0.5s;
}



.container-fluid a:hover {
    text-decoration: underline;
    color: whitesmoke;
    cursor: pointer;
}

.icon a:hover {
    transform: translateY(-20px);
}


@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}