@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
    overflow-x: hidden;
}

/* N  A  V  B  A  R  */

.navbar{
    background-color: rgba(0, 0, 0, 0.50);
    width: 90%;
    margin: auto;
    border: 0px solid;
    border-radius: 8px;
    font-family: "Michroma", sans-serif;
    font-size: 18px;
}


/* I  N  T  R  O  D  U  C  T  I  O  N  */
/* Slider Start */
.scroller {
    max-width: 100%;
    background-color: var(--secondary-color);
    padding: 20px 0;
    font-family: var(--main-font);
    
}

.scroller h1 {
    font-size: 300px;
    font-family: "Alumni Sans", sans-serif;
    
}

.scroller__inner {
    display: flex;
    padding-block: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

/* .scroller[data-animated="true"] {
    overflow: hidden;

} */

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s) var(--_animation-direction, forwards) linear infinite;
    animation-delay: 1s;
}

.scroller[data-direction='left'] {
    --_animation-direction: forwards;
}

.scroller[data-direction='right'] {
    --_animation-direction: reverse;
}

.scroller[data-direction='slow'] {
    --_animation-duration: 20s;
}

.scroller[data-speed='fast'] {
    --_animation-duration: 10s;
}


@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


.scroller[data-animated="true"] .scroller__inner:has(img:hover, img:active, img:focus) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


.scroller[data-animated="true"] .scroller__inner:has(li:hover, li:active, li:focus) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/* SLIDER END */
.hero-section .heading {
    margin-top: 650px;
}

/* .hero-section .image {
    margin-right: 170px;
    margin-top: -120px;
} */

/* A  B  O  U  T  -  M  E */
.about-me .text{ 
    background-color: #222222;
    color: #CCCCCC;
    padding: 20px 95px; 
    border-radius: 25px;  
}
.about-me h2{
    font-size: 64px;
    padding: 20px 0px;
}
.about-me p{
    font-size: 25px;
    padding: 20px 0px;
}
.about-me .btn {
    background-color: #CCCCCC;
    margin: 20px 0px;
}
.about-me .btn a{
    color: #222222 !important;
    padding: 11px 30px;
}

.service .img-1{
    background-image: url("../assets/Images/emily-bernal-v9vII5gV8Lw-unsplash.jpg");
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    border-radius: 80px;
}
.service .img-1 h2 , .service .img-2 h2 , .service .img-3 h2{
    font-size: 45px;
    font-family: kodchasan;
    font-weight: 800;
}
.service .img-2{
    background-image: url("../assets/Images/jakob-owens-B4f_Kx5jvpg-unsplash.jpg");
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    border-radius: 80px;
    margin-top: 20px;
}
.service .img-3{
    background-image: url("../assets/Images/Web.jpg");
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    border-radius: 80px;
    margin: 30px 0px;
}
/* U  I  -  U  X  -  D  E  S  I  G  N */

.ui-ux-work .text , .graphics-work .text , .video-work .text{
    background-color: #222222;
    color: #CCCCCC;
    border-radius: 20px;
}
.ui-ux-work .text h2 , .graphics-work .text h2 , .video-work .text h2{
    font-size: 60px;
    font-weight: 900;
}
.ui-ux-work .text p , .graphics-work .text p , .video-work .text p{
    text-align: justify !important;
    font-size: 18px;
}
.ui-ux-work .text a , .graphics-work .text a , .video-work .text a{
    background-color: #CCCCCC;
    color: #222222;
    font-weight: 200;
    text-decoration: none;  
}
.ui-ux-work .image img{
    height: 700px;
    width: 640px;
    border-radius: 20px;
}
/* G  R  A  P  H  I  C  S  -  D  E  S  I  G  N  */

.graphics-work .image img{
    height: 700px;
    width: 540px;
    border-radius: 20px;
}

/* V  I  D  E  O  -  W  O  R  K */

.video-work .video video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


/* F  O  T  T  E  R  */

footer {
    background-image: url("../assets/Images/footer-bg.png");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode: color-burn;
}

footer .content h2 {
    color: whitesmoke;
    font-size: 100px;
    margin-top: 85px;
    margin-bottom: 100px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

footer .icon {
    display: flex;
    align-items: center;
}

footer .icon a {
    transition: 0.5s;
}



.container-fluid a:hover {
    text-decoration: underline;
    color: whitesmoke;
    cursor: pointer;
}

.icon a:hover {
    transform: translateY(-20px);
}


@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}