* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
    overflow-x: hidden;
}

/* N  A  V  B  A  R  */

.navbar .container-fluid {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 10px;
    width: 1400px;
    border-radius: 20px;
    margin-top: 20px;
}

.navbar .container-fluid a {
    color: whitesmoke;
    font-size: 25px;
}


/* I  N  T  R  O  D  U  C  T  I  O  N  */
/* Slider Start */
.scroller {
    max-width: 100%;
    background-color: var(--secondary-color);
    padding: 20px 0;
    font-family: var(--main-font);
    
}

.scroller h1 {
    font-size: 300px;
    font-family: "Alumni Sans", sans-serif;
    
}

.scroller__inner {
    display: flex;
    padding-block: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;

}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s) var(--_animation-direction, forwards) linear infinite;
    animation-delay: 1s;
}

.scroller[data-direction='left'] {
    --_animation-direction: forwards;
}

.scroller[data-direction='right'] {
    --_animation-direction: reverse;
}

.scroller[data-direction='slow'] {
    --_animation-duration: 20s;
}

.scroller[data-speed='fast'] {
    --_animation-duration: 10s;
}


@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


.scroller[data-animated="true"] .scroller__inner:has(img:hover, img:active, img:focus) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


.scroller[data-animated="true"] .scroller__inner:has(li:hover, li:active, li:focus) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/* SLIDER END */
.hero-section .heading {
    margin-top: 650px;
}

.hero-section .image {
    margin-right: 170px;
    margin-top: -120px;
}

/* A  B  O  U  T  -  M  E */

.about-me .content {
    width: 1250px;
    background-color: black;
    background-image: url("../assets/Images/about-me-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    z-index: 9;
    margin-top: -120px;
    border-radius: 20px;
    padding: 80px 50px;
    margin-bottom: 90px;
}

.about-me .content h1 {
    font-size: 150px;
    padding-bottom: 10px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.about-me .content p {
    font-size: 25px;
    margin-bottom: 100px;
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.about-me .content a {
    background-color: whitesmoke;
    color: #222222;
    padding: 10px 250px;
    text-decoration: none;
    border-radius: 8px;
    transition: 2s;
}

.service .img-1{
    background-image: url("../assets/Images/emily-bernal-v9vII5gV8Lw-unsplash.jpg");
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    border-radius: 80px;
}
.service .img-1 h2 , .service .img-2 h2 , .service .img-3 h2{
    font-size: 45px;
    font-family: kodchasan;
    font-weight: 800;
}
.service .img-2{
    background-image: url("../assets/Images/jakob-owens-B4f_Kx5jvpg-unsplash.jpg");
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    border-radius: 80px;
    margin-top: 20px;
}
.service .img-3{
    background-image: url("../assets/Images/Web.jpg");
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    border-radius: 80px;
    margin: 30px 0px;
}
/* U  I  -  U  X  -  D  E  S  I  G  N */

.ui-ux-work .text{
    background-color: #222222;
    color: #CCCCCC;
}
.ui-ux-work .text h2{
    font-size: 60px;
    font-weight: 900;

}
.ui-ux-work .text p{
    text-align: justify !important;
    font-size: 18px;
}
.ui-ux-work .text a{
    background-color: #CCCCCC;
    color: #222222;
    font-weight: 200;
    text-decoration: none;  
}
/* G  R  A  P  H  I  C  S  -  D  E  S  I  G  N  */

.graphics-work .work-1 {
    margin-left: -100px;
    width: 500px;
    height: 720px;
    object-fit: cover;
}

.graphics-work .work-2 {
    margin-left: -40px;
}

.graphics-work .content {
    width: 481px;
    background-color: #222222;
    height: 722px;
    margin-left: 30px;
    padding: 40px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.graphics-work .content h1 {
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.graphics-work .content p {
    font-size: 30px;
    text-align: justify;
    margin-bottom: 90px;
    text-align: center;
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.graphics-work .content a {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    padding: 5px 110px;
    border-radius: 8px;
}

/* V  I  D  E  O  -  W  O  R  K */

.video-work .content {
    width: 1500px;
    height: 720px;
    background-image: url("../assets/Images/vid-work.png");
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode: color-burn;
    background-position: center;
    background-size: cover;
    padding: 285px 200px;
    margin-bottom: 40px;
    border-radius: 25px;
}

.video-work .content h1 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* F  O  T  T  E  R  */

footer {
    background-image: url("../assets/Images/footer-bg.png");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode: color-burn;
}

footer .content h1 {
    color: whitesmoke;
    font-size: 100px;
    margin-top: 85px;
    margin-bottom: 100px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

footer .icon {
    display: flex;
    align-items: center;
}

footer .icon a {
    transition: 0.5s;
}



.container-fluid a:hover {
    text-decoration: underline;
    color: whitesmoke;
    cursor: pointer;
}

.icon a:hover {
    transform: translateY(-20px);
}


@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}