@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #CCCCCC;
    overflow-x: hidden;
}

/* N  A  V  B  A  R  */

.navbar {
    background-color: rgba(0, 0, 0, 0.50);
    width: 90%;
    margin: auto;
    border: 0px solid;
    border-radius: 8px;
    font-family: "Michroma", sans-serif;
    font-size: 18px;
}

/* I  N  T  R  O  D  U  C  T  I  O  N */
.card {
    background-color: #CCCCCC;
    border: 0;
    border-radius: 10px;
}

.card-inner {
    position: relative;
    width: 80%;
    height: 100%;
    padding-bottom: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
}


.card-back {

    transform: rotateY(180deg);
}

.cv .cv-description {
    background-color: #222222;
    padding: 15px 40px;
    border-radius: 20px;
}

.cv-description p {
    font-size: 32px;
    color: whitesmoke;
}

/* .cv .btn a{
    background-color: #222222;
    color: #CCCCCC;
    padding: 10px 150px;
    border-radius: 25px;
}
.cv .btn a:hover{
    background-color: transparent;
    border: 1px solid #222222;
    color: #222222;
    transition: 0.5s;
} */
.btn {
    position: relative;
    padding: 12px 24px;
    background: transparent;
    border: 2px solid #000;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: height 0.3s ease;
    z-index: -1;
    color: #222222;
}

.btn:hover {
    color: #fff !important;
}

.btn:hover::after {
    height: 100%;
}
/* S K I L L S  -  S E C T I O N */

.skill {
    margin-top: 170px;
}

/* S O F T - S K I L L */

.skill .soft-skill {
    background-color: #222222;
    border-radius: 50px;
    padding-bottom: 20px;
}

.skill .soft-skill h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 130px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.skill .soft-skill ul {
    margin-left: 200px;
}

.skill .soft-skill ul li {
    color: whitesmoke;
    font-size: 25px;
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* H A R D - S K I L L  */

.skill .hard-skill {
    background-color: #222222;
    border-radius: 50px;
    padding-bottom: 175px;
}

.skill .hard-skill h1 {
    color: whitesmoke;
    font-size: 120px;
    text-align: center;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.skill .hard-skill ul {
    margin-left: 170px;
}

.skill .hard-skill ul li {
    color: whitesmoke;
    font-size: 25px;
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.achievements h2 {
    color: #222222;
    font-size: 40px;
    font-family: 'MODERNIZ';
    margin-top: 27px;
}

.achievements .certificate-1 img,
.achievements .certificate-2 img,
.achievements .certificate-3 img,
.achievements .certificate-4 img,
.achievements .certificate-5 img,
.achievements .certificate-6 img{
    width: 100%;
}

.achievements .certificate-1 h3,
.achievements .certificate-2 h3,
.achievements .certificate-3 h3,
.achievements .certificate-4 h3,
.achievements .certificate-5 h3,
.achievements .certificate-6 h3 {
    color: #222222;
    font-size: 40px;
    font-family: 'MODERNIZ';
}

/* V I D E O - W O R k - S E C T I O N  */


/* F  O  T  T  E  R */

footer {
    background-image: url("../assets/Images/footer-bg.png");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode: color-burn;
    margin-top: 200px;
}

footer .content h1 {
    color: whitesmoke;
    font-size: 110px;
    margin-top: 85px;
    margin-bottom: 100px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

footer .icon {
    display: flex;
    align-items: center;
}

footer .icon a {
    transition: 0.5s;
}

/* H O V E R - E F F E C T */

.container-fluid a:hover {
    text-decoration: underline;
    color: whitesmoke;
    cursor: pointer;
}

.icon a:hover {
    transform: translateY(-20px);
}