*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CCCCCC;
}

h2{
    font-weight: 100;
}

/* NAVBAR */

.container-fluid{
    background-color: rgba(0,0,0,0.50);
    padding: 10px;
    width: 1400px;
    border-radius: 20px;
    margin-top: 20px;
}
.container-fluid a{
    color: whitesmoke;
    font-size: 25px;
    margin-right: -400px;
}
.container-fluid form {
    margin-right: -400px;
    margin-left: 200px;
}

/* MODAL WORK **** */

.modal img{
    margin-left: -250px;
}

/* GRAPHICS-UI */

.graphics-ui a{
    color: black;
    font-weight: 100;
    text-decoration: none;
}
.graphics-ui a:hover{
    text-decoration: underline;
}

/* SLIDER */

.slick-slide {
    margin: 50px 0;
}
.post-slider img{
    transition: 0.3s;
}
.post-slider img:hover{
    scale: 1.1;
}
/* .slick-prev , .slick-next{
    display: none;
    height: 0;
    width: 0;
    color: transparent;
    border: 0;
} */
.slick-prev{
    font-size: 0;
    position: absolute;
    z-index: 999;
    top: 50%;
    border: 0;
    background-color:  transparent;
    display: block;
    color: white;
    width: 80px;
    height: 40px;
    padding: 0;
    margin-left: 40px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.slick-next{
    font-size: 0;
    position: absolute;
    z-index: 999;
    top: 50%;
    border: 0;
    background-color: transparent;
    display: block;
    color: white;
    width: 80px;
    height: 40px;
    padding: 0;
    margin-left: 40px;
    -webkit-transform: translate(2200%, -50%);
    -ms-transform: translate(2200%, -50%);
    transform: translate(2200%, -50%);  /* FULL JUGGAD fix in mq */
}

@media(max-width:1500px){
    .slick-next{
        -webkit-transform: translate(1650%, -50%);
        -ms-transform: translate(1650%, -50%);
        transform: translate(1650%, -50%);  /* FULL JUGGAD fix in mq */
    }
}
@media(max-width:1200px){
    .slick-next{
        -webkit-transform: translate(1300%, -50%);
        -ms-transform: translate(1300%, -50%);
        transform: translate(1300%, -50%);  /* FULL JUGGAD fix in mq */
    }
}

.slick-prev:before {
    content: url('../assets/left-arrow.png');
}
.slick-next:before {
    content: url('../assets/right-arrow.png');
}

/* BRANDING */

.branding .col-4 img{
   margin-left: 60px;
}

/* BUSINESS */

.business .col-6 img{
    margin-left: 80px;
}

                                /* F  O  O  T  E  R  */
footer{
    background-image: url("../assets/footer-bg.png");
    height: 600px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.80);
    background-blend-mode: color-burn;
}
footer .content h1{
    color: whitesmoke;
    font-size: 80px;
    margin-top: 85px;
    margin-bottom: 125px;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 125px;
}
footer .icon{
    display: flex;
    align-items: center;
}
footer .icon a{
    transition: 0.5s;
}



.container-fluid a:hover{
    text-decoration: underline;
    color: whitesmoke;
    cursor: pointer;
}
.icon a:hover{
    transform: translateY(-20px);
}